body,a{color:#000;}
a,input,textarea{outline: none;}

/*index star*/
.pro-switch {overflow: hidden;position: relative;width:100%;}
.flexslider .slides > li {display: none;-webkit-backface-visibility: hidden;}
.flexslider .slides li{position: relative;}
.flexslider .slides .img img {width: 100%;display: block;}
.slides:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] .slides {display: block;}
.no-js .slides > li:first-child {display: block;}
.flexslider {margin: 0 auto;position: relative;width:100%;zoom: 1;}
.flex-viewport {-webkit-transition: all 1s ease;-moz-transition: all 1s ease;transition: all 1s ease;}
.flexslider .slides {zoom: 1;}
.flex-direction-nav {*height: 0;}
.flexslider .flex-direction-nav a {width: 60px;height: 90px;margin: -60px 0 0;display: block;background: url(../images/ad_ctr.png) no-repeat 0 0;position: absolute;top: 50%;z-index: 10;cursor: pointer;text-indent: -9999px;opacity: 0;filter:alpha(opacity=0);-webkit-transition: all .3s ease;}
.flexslider .flex-direction-nav .flex-next {background-position: 0 -90px;right: 0;}
.flexslider .flex-direction-nav .flex-prev {left: 0;}
.flexslider:hover .flex-next {opacity: 0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-prev {opacity: 0.8;filter:alpha(opacity=25);}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;filter:alpha(opacity=50);}
.flex-control-nav {width: 100%;position: absolute;text-align: center;left:0; bottom:1%;}
.flex-control-nav li {margin: 0 5px;display: inline-block;zoom: 1;*display: inline;}
.flexslider .flex-control-paging li a {background: url(../images/dot.png) no-repeat 0 -16px;display:block;height: 16px;overflow: hidden;text-indent:-99em;width: 16px;cursor: pointer;}
.flex-control-paging li a.flex-active {background-position: 0 0;}

.fwxm{width: 90%;margin:5% auto;}
.fwxm h3{background: url(../images/fwxm.jpg) no-repeat center left;font-size:18px;color:#000;padding-left: 28px;}
.fwxm a{display: block;width: 100%;margin:3% auto;}

.footer{width: 100%;height: 50px;border-top:2px solid #1a1a1a;background: #fff;position: fixed;left: 0;bottom: 0;z-index: 111;}
.footer ul li{width: 33.3%;text-align: center;height: 50px;}
.footer ul li.on{background: #fe3d30;}
.footer ul li a{font-size:1rem;display: block;height: 30px;margin-top: 10px;border-right: 2px solid #1a1a1a;line-height: 30px;}
.footer ul li:nth-child(3) a{border-right:none;}
/*index end*/


/*login star*/
.login{width: 100%;margin-top: 15%;}
.login .input{width: 85%;margin:5% auto 0;}
.login .input input{width: 100%;height: 42px;border-radius: 20px;border:none;background: #ededed url(../images/user.jpg) no-repeat 3% center;text-align: center;font-size:16px;background-size:22px;}
.login .input1 input{background-image: url(../images/pass.jpg);}
.login .wangji{width: 85%;margin:2% auto;text-align: right;}
.login .wangji a{font-size:18px;color:#666;}
.login .submit{width: 85%;margin:8% auto;}
.login .submit input{width: 100%;height: 42px;border-radius: 20px;background: #fe3d30;border:none;font-size:18px;color:#fff;font-family: '微软雅黑'}
/*login end*/

/*register star*/
.reg{width: 100%;margin-top: 15%;}
.reg .input{width: 85%;margin:5% auto 0;}
.reg .input input{width: 100%;height: 42px;border-radius: 5px;border:none;background: #ededed url(../images/email.jpg) no-repeat 3% center;text-align: center;font-size:16px;background-size:28px;}
.reg .input1 input{background-image: url(../images/pass.jpg);background-size:22px;}
.reg .wangji{width: 85%;margin:2% auto;text-align: right;}
.reg .wangji a{font-size:18px;color:#666;}
.reg .submit{width: 85%;margin:15% auto;}
.reg .submit input{width: 100%;height: 42px;border-radius: 20px;background: #fe3d30;border:none;font-size:18px;color:#fff;font-family: '微软雅黑';}
.code{position: relative;}
.code input{background-image: url(../images/yanzhen.jpg) !important;}
.reg h3{width: 85%;margin:2% auto;font-size:16px;color:#333;text-align: center;}
.time{position: absolute;right: 0;top: 0;width: 60px;background: #fe3d30;height: 42px;font-size:16px;color:#fff;text-align: center;line-height: 42px;border-top-right-radius: 5px;border-bottom-right-radius: 5px;}
/*register end*/

/*person star*/
.person{width: 100%;}
.person_t{width: 94%;background: #fff;padding:3%;}
.person_t .img img{width: 100px;height: 100px;border-radius: 50%;}
.person_t h3{height: 100px;line-height: 100px;font-size:22px;margin-left: 15px;}
.person_t span{display: block;}
.person_t span img{width: 18px;margin-top: 38px;}
.person_c{margin-top: 1px;background: #fff;padding:3%;width: 94%;}
.person_c a{display: block;width: 50%;border-right:1px solid #ededed;box-sizing: border-box;text-align: center;}
.person_c a:nth-child(2){border-right:none;}
.person_c a span{display: block;font-size:24px;color:#000;}
.person_c a em{font-size:16px;}
.person_b{margin-top: 3%;padding:3%;width: 94%;background: #fff;}
.person_b ul li{padding-bottom: 3%;border-bottom: 1px solid #ededed;margin-bottom: 3%;}
.person_b ul li h3{background: url(../images/dindan.png) no-repeat center left;background-size: 22px;padding-left: 25px;font-size:18px;font-weight: normal;}
.person_b ul li img{height: 22px;}
.person_b ul li:nth-child(2) h3{background-image: url(../images/pass.png);}
.person_b .exit{width: 100%;margin:10% 0 3%;}
.person_b .exit a{display: block;width: 40%;padding:2% 0;margin:0 auto;background: #fe3d30;border-radius: 20px;font-size:18px;text-align: center;}
.wszl span{font-size:16px;width: 26%;display: block;height: 42px;line-height: 42px;}
.wszl p{font-size:16px;line-height: 42px;}
.wszl .input input{display: block;width: 72% !important;background-image: none;border-radius: 0;}
.wszl{margin-top: 5%;}
.qbdd h3{background: #ebebeb;width: 100%;padding:3%;font-size:20px;}
.qbdd ul{padding:3%;}
.qbdd ul li{padding-bottom: 3%;margin-bottom: 3%;border-bottom: 1px solid #ebebeb;}
.qbdd ul li h5{font-size:18px;font-weight: normal;}
.qbdd ul li span{font-size:16px;color:#fe3d30;}
.display_content{font-size:14px;color:#333;line-height: 24px;width: 94%;padding:3%;}
.display_l{position: fixed;bottom: 10%;right: 1%;}
.display_l a{display: block;width: 60px;height: 60px;border-radius: 50%;background: #fe3d30;font-size:16px;text-align: center;line-height: 60px;margin-bottom: 10%;}
.display_b{width: 100%;position: fixed;left: 0;bottom: 0;z-index: 11;height: 52px;}
.display_b a{width: 80%;margin:0 auto;height: 42px;border-radius: 10px;background: #fe3d30;display: block;text-align: center;line-height: 42px;font-size:20px;color:#fff;}
.share_bg{width: 100%;height: 100%;background: rgba(0,0,0,0.3);position: fixed;left: 0;top: 0;z-index: 12;display: none;}
.share{width: 80%;padding:3% 0;background: #fff;border-radius: 5px;margin:45% auto 0;}
.share p{padding:0 3%;font-size:14px;text-align: center;line-height: 24px;}
.share span{display: block;margin-top: 3%;padding-top: 3%;text-align: center;border-top: 1px solid #ebebeb;font-size:14px;color:#fe3d30;}
/*person end*/


/*订单*/
.ddul{ margin-top: 20px;}
.ddred{color: #ff0000}
.ddtitlewithright{width: 24.7%;float: left;text-align: center;border-right:1px solid #ccc;
    border-bottom: 1px solid #ccc;margin-bottom: 10px;}
.ddtitle{width: 24.7%;float: left;text-align: center; border-bottom: 1px solid #ccc}
.bz3{width: 100%;border-top:15px solid #ededed;padding-top: 30%;}
.bz3 .chakan{text-align: center;margin-top: 5%;}
.bz3 .chakan a{font-size:0.7rem;color: #f04d30}
.bz2{width: 94%;padding:3%;border-top: 15px solid #ededed;}
.bz2 .input{margin-bottom: 4%;}
.bz2 .input p{font-size:0.8rem;}
.bz2 .input input,.bz2 .input select,.bz2 .input textarea{display: block;width: 94%;border:none;background: #ededed;border-radius: 5px;height: 36px;margin-top: 2%;padding:0 3%;}
.bz2 .input select{width: 100%;}
.bz2 .input textarea{padding:3%;height: 60px;}
.bz2 .input em{font-size:0.8rem;color:#ff0000;line-height: 6px;display: block;}
.bz2 .input span{font-size:0.7rem;color:#000;}
.bz2 .submit input{width: 80%;margin:5% auto;height: 36px;border-radius: 20px;background: #f04d30;border:none;display: block;font-size:0.8rem;color:#fff;}
.bz1{border-top: 15px solid #ededed;}
.bz1 .bz_son1{border-bottom: 15px solid #ededed;padding:5% 3%;position: relative;}
.bz_son1 .img{width: 30%;}
.bz_son1 .content{width: 65%;margin-left: 5%;}
.bz_son1 .content h3{font-size:0.8rem;margin-bottom: 2%;}
.bz_son1 .content .content_son{font-size:0.7rem;color:#333;}
.bz1 .bz_son1 input{position: absolute;right:3%;top: 5%;width: 20px;height: 20px;}
.bz1 .submit input{width: 80%;margin:15% auto 5%;height: 36px;border-radius: 20px;background: #f04d30;border:none;display: block;font-size:0.8rem;color:#fff;}


/*fabu2*/
.introduce{text-align: center;width:100%}
/*fabu2 end*/



